In [ ]:
# Loading important libraries 

import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [ ]:
## Loading the data 

train_subset = pd.read_csv("/content/drive/MyDrive/FinalHack Datasets/train_subset.csv")

test = pd.read_csv("/content/drive/MyDrive/FinalHack Datasets/test.csv")

location_details = pd.read_excel("/content/drive/MyDrive/FinalHack Datasets/location_details.xlsx")

item_details = pd.read_excel("/content/drive/MyDrive/FinalHack Datasets/item_details.xlsx")

In [ ]:
train_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21679751 entries, 0 to 21679750
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   Unnamed: 0   int64
 1   date         object
 2   locationId   object
 3   item_id      object
 4   unit_sales   float64
 5   onpromotion  bool
dtypes: bool(1), float64(1), int64(1), object(3)
memory usage: 847.7+ MB

In [ ]:
train_subset['date'] = pd.to_datetime(train_subset['date'])

In [ ]:
train_subset = pd.merge(train_subset,item_details,how = 'left', on = 'item_id')

train_subset = train_subset.rename(columns = {'locationId':'location_id'})

train_subset = pd.merge(train_subset,location_details,how = 'left', on = 'location_id')

In [ ]:
train_subset['Month'] =pd.DatetimeIndex(train_subset['date']).month.astype('int8')
train_subset['Day'] =pd.DatetimeIndex(train_subset['date']).day.astype('int8')
train_subset['Week'] =pd.DatetimeIndex(train_subset['date']).weekday.astype('int8')

In [ ]:
train_subset.head()

   Unnamed: 0       date  location_id      item_id  ...  cluster  Month Day Week
0           0 2018-01-01  location_25  item_105574  ...        1      1   1    0
1           1 2018-01-01  location_25  item_105575  ...        1      1   1    0
2           2 2018-01-01  location_25  item_105857  ...        1      1   1    0
3           3 2018-01-01  location_25  item_108634  ...        1      1   1    0
4           4 2018-01-01  location_25  item_108701  ...        1      1   1    0

[5 rows x 16 columns]

In [ ]:
train_subset = train_subset.drop(['Unnamed: 0','date','item_id','class','state'],axis = 1)

In [ ]:
### Removing negative values in train data 

train_subset = train_subset[(train_subset['unit_sales']>0)]

In [ ]:
## Label Encoding 


from sklearn import preprocessing
def df_lbl_enc(df):
    for c in df.columns:
        if df[c].dtype == 'object':
            lbl = preprocessing.LabelEncoder()
            df[c] = lbl.fit_transform(df[c])
            print(c)
    return df


train_subset = df_lbl_enc(train_subset)

location_id
category_of_item
city
type

In [ ]:
train_subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21678360 entries, 0 to 21679750
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   location_id       int64
 1   unit_sales        float64
 2   onpromotion       bool
 3   category_of_item  int64
 4   perishable        int64
 5   city              int64
 6   type              int64
 7   cluster           int64
 8   Month             int64
 9   Day               int64
 10  Week              int64
dtypes: bool(1), float64(1), int64(9)
memory usage: 1.8 GB

In [ ]:
 from sklearn.preprocessing import LabelEncoder

 lb = LabelEncoder()

 train_subset['onpromotion']= lb.fit_transform(train_subset['onpromotion'])

In [ ]:
### Converting to category 


def cat_converter(df):
    for i in df.columns:
        if df[i].dtype == 'float64':
            df[i] = df[i]
        else:            
            df[i] = df[i].astype('category')
            print(i)
    return df


train_subset = cat_converter(train_subset)

location_id
onpromotion
category_of_item
perishable
city
type
cluster
Month
Day
Week

In [ ]:
train_subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21678360 entries, 0 to 21679750
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   location_id       category
 1   unit_sales        float64
 2   onpromotion       category
 3   category_of_item  category
 4   perishable        category
 5   city              category
 6   type              category
 7   cluster           category
 8   Month             category
 9   Day               category
 10  Week              category
dtypes: category(10), float64(1)
memory usage: 537.5 MB

In [ ]:
train_subset.head()

  location_id  unit_sales onpromotion category_of_item  ... cluster Month Day Week
0          17        12.0           0                8  ...       1     1   1    0
1          17         9.0           0                8  ...       1     1   1    0
2          17         3.0           0                8  ...       1     1   1    0
3          17         3.0           0                8  ...       1     1   1    0
4          17         2.0           1                5  ...       1     1   1    0

[5 rows x 11 columns]

In [ ]:
#train_subset = train_subset.sample(frac = .1)

In [ ]:
train_subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21678360 entries, 0 to 21679750
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   location_id       category
 1   unit_sales        float64
 2   onpromotion       category
 3   category_of_item  category
 4   perishable        category
 5   city              category
 6   type              category
 7   cluster           category
 8   Month             category
 9   Day               category
 10  Week              category
dtypes: category(10), float64(1)
memory usage: 537.5 MB

In [ ]:
#cols_to_transform = train_subset.select_dtypes(include=['category']).columns

#train_subset = pd.get_dummies(columns=cols_to_transform, data=train_subset, prefix=cols_to_transform, prefix_sep="_",drop_first=True)

In [ ]:
#train_subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2167836 entries, 15338292 to 13922048
Columns: 167 entries, unit_sales to Week_6
dtypes: float64(1), uint8(166)
memory usage: 376.3 MB

In [ ]:
train_subset.shape

(21678360, 11)

In [ ]:
train_subset.head()

  location_id  unit_sales onpromotion category_of_item  ... cluster Month Day Week
0          17        12.0           0                8  ...       1     1   1    0
1          17         9.0           0                8  ...       1     1   1    0
2          17         3.0           0                8  ...       1     1   1    0
3          17         3.0           0                8  ...       1     1   1    0
4          17         2.0           1                5  ...       1     1   1    0

[5 rows x 11 columns]

In [ ]:
X = train_subset.drop(['unit_sales'], axis = 1)

y = train_subset['unit_sales']

#X = train_subset.loc[:,train_subset.columns!='unit_sales'].values
#y = train_subset.loc[:,'unit_sales'].values

In [ ]:
train_subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21678360 entries, 0 to 21679750
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   location_id       category
 1   unit_sales        float64
 2   onpromotion       category
 3   category_of_item  category
 4   perishable        category
 5   city              category
 6   type              category
 7   cluster           category
 8   Month             category
 9   Day               category
 10  Week              category
dtypes: category(10), float64(1)
memory usage: 537.5 MB

In [ ]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [ ]:
X_train.shape
#X_test.shape

(15174852, 10)

In [ ]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [ ]:
y_train = np.log1p(y_train)
y_test = np.log1p(y_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

## RandomForestRegressor

RF_model = RandomForestRegressor(max_depth = 5 , n_jobs = -1)
RF_model.fit(X_train, y_train)


RF_Model_Y_train_pred = RF_model.predict(X_train)
RF_Model_Y_test_pred = RF_model.predict(X_test)

Train_score_RF= mean_absolute_percentage_error(y_train,RF_Model_Y_train_pred)
Test_score_RF = mean_absolute_percentage_error(y_test,RF_Model_Y_test_pred)

print(Train_score_RF)
print(Test_score_RF)

50.19303853646678
50.498835021395706

In [ ]:
## Converting Log Columns 

y_train =np.expm1(y_train)
y_test =np.expm1(y_test)


RF_Model_Y_train_pred =np.expm1(RF_Model_Y_train_pred)
RF_Model_Y_test_pred =np.expm1(RF_Model_Y_test_pred)

Train_score_RF= mean_absolute_percentage_error(y_train,RF_Model_Y_train_pred)
Test_score_RF = mean_absolute_percentage_error(y_test,RF_Model_Y_test_pred)

print(Train_score_RF)
print(Test_score_RF)

114.17869842229744
115.07275852812944

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor

## Gradient Boosting Regressor 

GB_model = GradientBoostingRegressor(max_depth=4)


GB_model.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=4,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [ ]:
GB_Model_Y_train_pred = GB_model.predict(X_train)
GB_Model_Y_test_pred = GB_model.predict(X_test)


y_train =np.expm1(y_train)
y_test =np.expm1(y_test)


GB_Model_Y_train_pred =np.expm1(GB_Model_Y_train_pred)
GB_Model_Y_test_pred =np.expm1(GB_Model_Y_test_pred)

Train_score_GB= mean_absolute_percentage_error(y_train,GB_Model_Y_train_pred)
Test_score_GB = mean_absolute_percentage_error(y_test,GB_Model_Y_test_pred)

print(Train_score_GB)
print(Test_score_GB)

109.82070212252152
109.97420120515697

In [ ]:
GB_Model_Y_test_pred

array([10.25432841,  5.04002609,  4.5013596 , ...,  3.83433133,
        5.79949672,  6.17529146])

In [ ]:
X_test

         location_id onpromotion category_of_item  ... Month Day Week
15860229          38           0               19  ...     6  16    5
15429515          50           0                8  ...     6  12    1
11806693          52           0                8  ...     5   5    5
2428709           41           0                4  ...     1  27    5
5777689            3           0               10  ...     3   3    5
...              ...         ...              ...  ...   ...  ..  ...
6398373           32           0                2  ...     3   9    4
17045641           8           0                3  ...     6  29    4
19273308          12           0                4  ...     7  22    6
9083879           39           0                3  ...     4   6    4
11291568          11           1                8  ...     4  30    0

[6503508 rows x 10 columns]

### Test Data Prep

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23517680 entries, 0 to 23517679
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         object
 2   locationId   object
 3   item_id      object
 4   onpromotion  bool
dtypes: bool(1), int64(1), object(3)
memory usage: 740.1+ MB

In [ ]:
test['date'] = pd.to_datetime(test['date'])

In [ ]:
test = pd.merge(test,item_details,how = 'left', on = 'item_id')

test = test.rename(columns = {'locationId':'location_id'})

test = pd.merge(test,location_details,how = 'left', on = 'location_id')

In [ ]:
test['Month'] =pd.DatetimeIndex(test['date']).month.astype('int8')
test['Day'] =pd.DatetimeIndex(test['date']).day.astype('int8')
test['Week'] =pd.DatetimeIndex(test['date']).weekday.astype('int8')

In [ ]:
test.head()

   id       date  location_id      item_id  ...  cluster Month Day  Week
0   0 2019-01-01  location_25   item_99197  ...        1     1   1     1
1   1 2019-01-01  location_25  item_103665  ...        1     1   1     1
2   2 2019-01-01  location_25  item_105574  ...        1     1   1     1
3   3 2019-01-01  location_25  item_105857  ...        1     1   1     1
4   4 2019-01-01  location_25  item_106716  ...        1     1   1     1

[5 rows x 15 columns]

In [ ]:
ID = test['id']

In [ ]:
test = test.drop(['id','date','item_id','class','state'],axis = 1)

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23517680 entries, 0 to 23517679
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   location_id       object
 1   onpromotion       bool
 2   category_of_item  object
 3   perishable        int64
 4   city              object
 5   type              object
 6   cluster           int64
 7   Month             int64
 8   Day               int64
 9   Week              int64
dtypes: bool(1), int64(5), object(4)
memory usage: 1.8+ GB

In [ ]:
#test = test[['locationId','Month','Day','Week','onpromotion']]

In [ ]:
test = df_lbl_enc(test)

locationId

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [ ]:
test = cat_converter(test)

location_id
onpromotion
category_of_item
perishable
city
type
cluster
Month
Day
Week

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23517680 entries, 0 to 23517679
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   location_id       category
 1   onpromotion       category
 2   category_of_item  category
 3   perishable        category
 4   city              category
 5   type              category
 6   cluster           category
 7   Month             category
 8   Day               category
 9   Week              category
dtypes: category(10)
memory usage: 403.7 MB

In [ ]:
test = df_lbl_enc(test)

In [ ]:
test.head()

   location_id onpromotion           category_of_item  ... Month Day Week
0  location_25       False              grocery_items  ...     1   1    1
1  location_25       False  baked_items / bread_based  ...     1   1    1
2  location_25       False              grocery_items  ...     1   1    1
3  location_25       False              grocery_items  ...     1   1    1
4  location_25       False              grocery_items  ...     1   1    1

[5 rows x 10 columns]

In [ ]:
 from sklearn.preprocessing import LabelEncoder

 lb = LabelEncoder()

test['location_id']= lb.fit_transform(test['location_id'])
test['onpromotion']= lb.fit_transform(test['onpromotion'])
test['category_of_item']= lb.fit_transform(test['category_of_item'])
test['city']= lb.fit_transform(test['city'])
test['type']= lb.fit_transform(test['type'])

In [ ]:
test.head()

   location_id  onpromotion  category_of_item perishable  ...  cluster  Month Day Week
0           17            0                 8          0  ...        1      1   1    1
1           17            0                 0          1  ...        1      1   1    1
2           17            0                 8          0  ...        1      1   1    1
3           17            0                 8          0  ...        1      1   1    1
4           17            0                 8          0  ...        1      1   1    1

[5 rows x 10 columns]

In [ ]:
test = cat_converter(test)

location_id
onpromotion
category_of_item
perishable
city
type
cluster
Month
Day
Week

In [ ]:
test.head()

  location_id onpromotion category_of_item perishable  ... cluster Month Day Week
0          17           0                8          0  ...       1     1   1    1
1          17           0                0          1  ...       1     1   1    1
2          17           0                8          0  ...       1     1   1    1
3          17           0                8          0  ...       1     1   1    1
4          17           0                8          0  ...       1     1   1    1

[5 rows x 10 columns]

In [ ]:

Test_pred = GB_model.predict(test)

In [ ]:
Test_pred

array([1.59261889, 1.77981131, 1.59261889, ..., 1.62330482, 1.57581602,
       1.42304917])

In [ ]:
Test_Pred_best = np.expm1(Test_pred)

In [ ]:
Test_Pred_best

array([4.25016171, 4.25016171, 4.25016171, ..., 3.65010852, 5.15008418,
       3.65010852])

In [ ]:
res = pd.DataFrame(Test_Pred_best)
ID = pd.DataFrame(ID)

In [ ]:
ID

0                  0
1                  1
2                  2
3                  3
4                  4
              ...
23517675    23808256
23517676    23808257
23517677    23808258
23517678    23808259
23517679    23808260
Name: id, Length: 23517680, dtype: int64

In [ ]:
res = res.rename(columns={res.columns[0]: 'unit_sales'})

In [ ]:
gb = pd.concat([ID,res], axis = 1)

In [ ]:
gb

                id  unit_sales
0                0    3.916608
1                1    4.928738
2                2    3.916608
3                3    3.916608
4                4    3.916608
...            ...         ...
23517675  23808256    3.149754
23517676  23808257    6.601021
23517677  23808258    4.069817
23517678  23808259    3.834685
23517679  23808260    3.149754

[23517680 rows x 2 columns]

In [ ]:
gb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23517680 entries, 0 to 23517679
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   id          int64
 1   unit_sales  float64
dtypes: float64(1), int64(1)
memory usage: 358.9 MB

In [ ]:
gb['unit_sales'] = gb['unit_sales'].round(2)

In [ ]:
gb.to_csv("submission_3.csv",index= False)